*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}

.box-music{
    /* background-image: linear-gradient(45deg,#fff,#000); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
    background-color: rgb(255, 132, 43);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition: all 0.4s;
    
}

.box-img{
    width: 150px;
    border-radius: 100%;
margin: 0 auto 20px;
    overflow: hidden;
    position: relative;
    height: 150px;
    border: 10px solid rgba(255, 255, 255, 0.5);
    box-sizing: content-box;

}
.img{
    width: 180%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.name-music{
    
    font-size: 25px;
    font-weight: 700;
}
.name-artist{
    font-size: 15px;
}

.icon{
    width: 20px;
    height: 20px;

}
.icon-box{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.icon-play{
    width: 50px;
    height: 50px;
    margin-left:6px ;

}
.icon-play2{
    width: 50px;
    height: 50px;
    /* margin-left:6px ; */

}
.icon-box-play{
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 4px solid #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.control-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon-next{
    margin-left:4px ;
}
.icon-last{
    margin-right:4px ;
}

.rang-music{
    width: 100%;
    height: 25px;
    margin-bottom: 30px;
    
}
.box-time{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;

}

.icon-music{
    cursor: pointer;
}

.icon-hearth{
    cursor: pointer;
}
.icon-hearth:hover{
transform: scale(1.2);
}

.box-volume{
    position: absolute;
    top: 70%;
    left: 63%;
    padding: 10px 15px 10px 15px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s;
}

.box-volume-hidden{
    position: absolute;
    top: 70%;
    left: 63%;
    padding: 10px 15px 10px 15px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    opacity: 0%;
    transform: translateY(1px);
    transition: all 0.1s;
}

